<template>
<h1>Lista de usuarios</h1>
<input type="text" placeholder="Buscar usuario" v-model="search" @keyup="handleSearch"/>
<div>
  <button @click="handleLayout(ListLayout)">Ver en lista</button>
  <button @click="handleLayout(CardLayout)">Ver en tarjetas</button>
</div>
<component :is="layout" :content="filteredUsers"></component>
</template>

<script lang="ts" setup>
import { ref,defineAsyncComponent } from 'vue'

const ListLayout=defineAsyncComponent(()=>import ('@/layouts/ListLayout.vue'))
const CardLayout=defineAsyncComponent(()=>import ('@/layouts/CardLayout.vue'))

const layout=ref(ListLayout)
const search=ref('')

const handleSearch=()=>{
  filteredUsers.value=users.value.filter(item=>item.name.toLowerCase().includes(search.value.toLocaleLowerCase()))
}



const handleLayout=(cmp:any)=>layout.value=cmp

const users=ref([
  {
    "name": "Barton Wheeler",
    "age": 34,
    "position": "frontend"
  },
  {
    "name": "Polly Strong",
    "age": 31,
    "position": "fullstack"
  },
  {
    "name": "Melba Noble",
    "age": 20,
    "position": "frontend"
  },
  {
    "name": "Booth Waters",
    "age": 34,
    "position": "backend"
  }
]
)

const filteredUsers=ref([])

filteredUsers.value=users.value
</script>
